body {
    &:after {
        content: "mobile";
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        background: rgba(0,0,0,0.85);
        font-size: 0.825rem;
        font-family: sans-serif;
        z-index: 9999;
        color: white;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;

        @include breakpoint(from-phablet) {
            content: "from-phablet";
        }

        @include breakpoint(from-tablet) {
            content: "from-tablet";
        }

        @include breakpoint(from-desktop) {
            content: "from-desktop";
        }

        @include breakpoint(from-desktop-mid) {
            content: "from-desktop-mid";
        }

        @include breakpoint(from-desktop-lrg) {
            content: "from-desktop-lrg";
        }
    }
}
