.accordion-wrapper {
    .accordion {
        border: 0.125rem solid black;

        .pane {
            background: white;

            &:not(:first-child) {
                border-top: 0.125rem solid black;
            }

            &.active {
                .heading {
                    background: $ui-primary;
                    color: white;

                    .fas {
                        transform: rotate(90deg);
                    }
                }

                .body {
                    display: block;
                }
            }
        }

        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 1.5rem;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover,
            &:focus {
                background: $ui-primary;
                color: white;
            }

            .fas {
                flex-shrink: 0;
                font-size: 1.25rem;
            }
        }

        .body {
            display: none;
            padding: 0.25rem 1.5rem;
            border-top: 0.125rem solid $ui-secondary;
        }
    }

    .continue {
        color: inherit;
        text-transform: uppercase;
        margin: 1.5rem 0;
        display: flex;
        align-items: center;
        font-weight: 500;

        .fas {
            margin-left: 1rem;
        }
    }
}
