.box {
    padding: 0.5rem 1.25rem;
    background: white;
    color: $ui-secondary;
    margin: 0 -1.25rem;

    @include breakpoint(from-tablet) {
        margin: 0;
        padding: 1rem 2rem;
    }

    &.bg-green {
        background: $ui-primary;
        color: white;

        [class*="title-"] {
            color: white;
        }
    }

    &.bg-dark-green {
        background: $ui-secondary;
        color: white;

        [class*="title-"] {
            color: white;
        }
    }

    &.bg-light-green {
        background: $ui-lighter;
        color: black;

        [class*="title-"] {
            color: black;
        }
    }

    .frm_forms p {
        margin: 0;
    }

    .btn {
        background: $ui-secondary;
        color: white;
        border-color: $ui-secondary;

        &:hover {
            background: white;
            color: $ui-secondary;
        }
    }
}
