.scheme-light {
    .btn {
        background: white;
        color: $ui-primary;
        border-color: white;

        &:hover {
            background: $ui-secondary;
            border-color: $ui-secondary;
            color: white;
        }
    }
}

.scheme-dark {
    .btn {
        background: $ui-secondary;
        color: white;
        border-color: $ui-secondary;

        &:hover {
            background: none;
            color: $ui-secondary;
        }
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border-radius: 0.825rem;
    font-weight: 500;
    text-transform: uppercase;
    border-width: 0.125rem;
    border-style: solid;
    color: inherit;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.icon-after {
        .fas {
            margin-left: 1em;
            order: 1;
        }
    }

    &.icon-before {
        .fas {
            margin-right: 1em;
        }
    }

    .btn-label {
        line-height: 1em;
    }

    .fas {
        color: inherit;
    }
}
