.cta {
    background: $ui-primary;
    padding-bottom: 3rem;
    margin: 1.25rem 0;

    img {
        width: 100%;
    }

    .btns {
        transform: translateY(-50%);
        text-align: center;
        margin: 0;
    }

    .btn {
        background: white;
        border-color: white;
        color: $ui-secondary;

        &:hover {
            background: $ui-secondary;
            color: white;
            border-color: $ui-secondary;
        }
    }
}
