input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="file"],
input[type="search"],
textarea,
select {
    @include placeholder() {
        color: black;
    }

    font-family: inherit;
}
