.photo-slider {
    @include breakpoint(from-desktop-mid) {
        display: flex;

        .slider-wrapper,
        .information {
            width: 50%;
        }
    }

    .information {
        background: $ui-primary;
        color: white;
        padding: 0.25rem 1.25rem;
        text-transform: uppercase;
        font-size: 1.125rem;
        font-weight: 500;
        letter-spacing: 1px;
        border-radius: 0 0 0.5rem 0.5rem;

        @include breakpoint(from-desktop-mid) {
            border-radius: 0 0.5rem 0.5rem 0;
        }

        @include breakpoint(from-desktop-lrg) {
            padding: 1rem 2rem;
        }

        ul {
            font-size: 1rem;
            list-style: none;
            padding: 0;
        }

        li {
            position: relative;
            padding-left: 1.125rem;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "\f0da";
                font-family: $font-family-icons;
            }

            &:not(:first-child) {
                margin-top: 0.25rem;
            }
        }
    }

    .slider-wrapper {
        position: relative;
    }

    .slides {
        .slick-list {
            display: block;
            height: 12.5rem;

            * {
                display: block;
                height: 12.5rem;
            }
        }

        @include breakpoint(from-desktop-mid) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .slick-list {
                height: 100%;

                * {
                    height: 100%;
                }
            }
        }
    }

    .slide {
        height: 12.5rem;
        background-position: center;
        background-size: cover;
        border-radius: 0.5rem 0.5rem 0 0;

        @include breakpoint(from-desktop-mid) {
            border-radius: 0.5rem 0 0 0.5rem;
            height: 100%;
        }
    }

    .slick-dots {
        top: auto;
        bottom: 1rem;
    }

    .slick-dots li button .slick-dot-icon {
        color: white;
    }

    .slick-dots li.slick-active button .slick-dot-icon {
        color: #BECF6E;
    }
}
