.scheme-light {
    [class*="title-"] {
        color: white;

        a:hover {
            color: black;
        }
    }
}

[class*="short-"] {
    display: flex;
    align-items: center;
    color: $ui-primary;

    a {
        color: inherit;

        &:hover {
            color: $ui-secondary;
        }
    }

    .fas {
        width: 2.5rem;
    }
}
