.scheme-light {
    .sub-title p {
        color: inherit;

        &:before {
            border-color: white;
        }
    }
}

.sub-title {
    p {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        padding-left: 4.25rem;
        font-size: 1rem;
        color: black;
        margin: 0;

        &:before {
            content: "";
            width: 3.125rem;
            border-top: 0.125rem solid #806542;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}
