.posts-listing {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);
    overflow: hidden;
    background: #f1f1f1;

    .posts {
        @include breakpoint(from-desktop) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -1rem;
        }

        @include breakpoint(from-desktop-mid) {
            margin: 0 -1.5rem;
        }
    }

    .post {
        padding: 0.25rem 2rem 2rem 2rem;
        margin: 1.25rem 0 0 0;
        box-shadow: 0 0 0.75rem 0 transparentize(black, 0.8);
        background: white;
        position: relative;

        @include breakpoint(from-desktop) {
            width: calc(50% - 2rem);
            margin: 1rem;
        }

        @include breakpoint(from-desktop-mid) {
            box-shadow: 0 0 1rem 0 transparentize(black, 0.8);
            width: calc(50% - 3rem);
            margin: 1.5rem;
        }
    }

    a {
        color: $ui-primary;

        &:hover {
            color: $ui-secondary;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;
        font-weight: 500;
        font-size: 1.125rem;
    }

    .read-more {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;

        a {
            display: inline-flex;
            align-items: center;
            padding: 0.75rem 1.25rem 0.625rem 1.25rem;
            border-radius: 0.825rem 0 0 0;
            font-weight: 500;
            text-transform: uppercase;
            border-width: 0.125rem;
            border-style: solid;
            color: inherit;
            font-size: 0.825rem;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            background: $ui-secondary;
            color: white;
            border-color: $ui-secondary;

            &:hover {
                background: none;
                color: $ui-secondary;
            }

            .btn-label {
                line-height: 1em;
            }

            .fas {
                color: inherit;
                margin-left: 1em;
                order: 1;
            }
        }
    }
}

.post-body {
    .box {
        box-shadow: 0 0 1rem 0 transparentize(black, 0.8);

        ul {
            font-size: 1rem;
            list-style: none;
            padding: 0;
        }

        li {
            position: relative;
            padding-left: 1.125rem;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "\f0da";
                font-family: $font-family-icons;
            }

            &:not(:first-child) {
                margin-top: 0.25rem;
            }
        }

        a {
            color: inherit;

            &:hover {
                color: $ui-secondary;
            }
        }
    }
}
