.footer {
    padding: 0.5rem 0;
    background: $ui-primary;
    color: white;

    @include breakpoint(from-tablet) {
        padding: 1.5rem 0;
    }

    @include breakpoint(from-desktop) {
        padding: $block-padding;
    }

    a {
        color: inherit;

        &:hover {
            color: $ui-secondary;
        }
    }

    .container {
        @include breakpoint(from-desktop) {
            display: flex;
        }
    }

    .main-logo {
        display: none;

        @include breakpoint(from-desktop-mid) {
            display: block;
        }
    }

    .logos,
    .col {
        @include breakpoint(from-desktop) {
            padding: 0 2rem;
        }
    }

    .logos:first-child {
        padding-left: 0;
    }

    .logos:last-child {
        padding-right: 0;
    }

    @include breakpoint(to-desktop-sml) {
        .col:first-child {
            padding-left: 0;
        }
    }

    .inner,
    .col {
        flex: 1;
    }

    .inner {
        @include breakpoint(from-desktop) {
            display: flex;
        }
    }

    .heading {
        font-weight: 700;
        text-shadow: 0 0 0.5rem transparentize(black, 0.4);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.125rem;

        @include breakpoint(from-desktop) {
            margin-top: 0;
        }
    }

    .menu {
        text-transform: uppercase;
        columns: 2;
        column-gap: 2rem;
        margin-top: -0.25rem;
    }

    .menu-item {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
        margin: 0.25rem 0;
    }

    .social {
        padding-bottom: 1rem;

        a {
            display: inline-block;
        }
    }

    .address {
        a {
            font-weight: 500;
        }

        p {
            margin: 0.325rem 0;
            display: flex;
            align-items: center;
        }

        .fas {
            width: 2rem;
        }
    }
}
