.header {
    background: $ui-primary;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 40;
    box-shadow: 0 0 0.5rem 0 transparentize(black, 0.7);

    &:after {
        content: "";
        position: absolute;
        width: 33%;
        top: 0;
        right: 0;
        height: 100%;
        background: white;

        @include breakpoint(from-phablet) {
            width: 50%;
        }
    }

    .container {
        display: flex;
    }

    .logo {
        display: block;
        padding: 1.25rem 1.25rem 1.25rem 0;

        @include breakpoint(from-desktop-mid) {
            padding: 1.25rem 2rem 1.25rem 0;
        }
    }

    .navigation {
        flex: 1;
        background: white;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1em;
        display: flex;
        flex-wrap: wrap;

        @include break(from-desktop) {
            display: flex;
        }

        @include breakpoint(from-desktop-mid) {
            flex-wrap: nowrap;
        }
    }

    .menu {
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        display: none;

        @include break(from-desktop) {
            display: flex;
        }
    }

    .menu-item:not(.nav-button) {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 0.25rem;
        border: 0.125rem solid $ui-primary;

        &:hover {
            &:before {
                transform: translateY(100%);
            }

            &:after {
                transform: translateX(100%);
            }
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: -0.125rem;
            left: -0.125rem;
            width: calc(100% + 0.25rem);
            height: calc(100% + 0.25rem);
            background: white;
            z-index: 1;
            transition: all 0.3s ease-in-out;
        }

        &.current-menu-item {
            a:before {
                content: "";
                position: absolute;
                left: 0;
                height: 0.75rem;
                top: 50%;
                transform: translateY(-50%);
                width: 0.25rem;
                background: $ui-primary;
            }
        }

        a {
            position: relative;
            z-index: 2;
            padding: 0.5rem 0.625rem;

            @include breakpoint(from-desktop-lrg) {
                padding: 0.75rem 1rem;
            }
        }
    }

    .nav-button {
        padding: 0.75rem 1.5rem;
        background: $ui-primary;
        color: white;
        font-weight: 400;
        border-radius: 99rem;
        position: relative;
        z-index: 2;

        @include breakpoint(from-desktop-mid) {
            margin-left: 2rem;
        }

        @include breakpoint(from-desktop-lrg) {
            margin-left: 3rem;
        }

        &:after {
            content: "\f105";
            font-family: $font-family-icons;
            display: inline-block;
            margin-left: 1rem;
        }

        &:hover {
            background: $ui-secondary;

            a {
                color: white;
            }
        }
    }

    a {
        color: inherit;

        &:hover {
            color: $ui-secondary;
        }
    }

    .phone {
        display: none;
        color: $ui-primary;

        @include breakpoint(from-desktop-mid) {
            order: 1;
            margin-left: 1.5rem;
            display: block;
        }
    }
}
