.mobile-menu {
    position: fixed;
    top: 1rem;
    right: 1.5em;
    cursor: pointer;
    z-index: 1000;
    background-color: white;
    padding: .5em;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;

    @include break(from-desktop) {
        display: none;
    }

    &:hover {
        background-color: white;
        transform: scale(1.05);

        .mobile-menu-icon {
            transform: scale(1.15);
        }
    }

    &.is-active {
        .mobile-menu-icon {
            background: none;
        }

        .mobile-menu-icon:before,
        .mobile-menu-icon:after {
            top: 0;
            width: 24px;
            transform: rotate(45deg);
        }

        .mobile-menu-icon:after {
            transform: rotate(-45deg);
        }

        .mobile-menu-icon:hover {
            transform: scale(1.2);
        }
    }
}

.mobile-menu-icon {
    position: relative;
    width: 24px;
    height: 4px;
    margin: 10px 0;
    background: $ui-primary;
    border-radius: 4px;
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:before,
    &:after {
        content: '';
        display: block;
        width: 24px;
        height: 4px;
        background: $ui-primary;
        position: absolute;
        border-radius: 4px;
        transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &:before {
        top: -8px;
        left: 0;
    }

    &:after {
        top: 8px;
        left: 0;
    }
}

.mobile-navigation {
    position: fixed;
    background-color: fade-out(white, .025);
    top: 0;
    right: 0;
    z-index: 999;
    padding: 0 1.25rem;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 1;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    overflow: scroll;
    overscroll-behavior: contain;

    @include break(from-desktop) {
        display: none;
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        @include break(from-tablet) {
            padding: 4rem 2rem 2rem;
        }
    }

    .main-menu {
        flex: 1;
        font-size: 1.125rem;
        text-align: center;

        &:not(:first-child) {
            padding: 1rem 0;
            font-size: 1rem;
        }

        @include break(from-tablet) {
            flex: 1;
            font-size: 1.5rem;

            &:not(:first-child) {
                padding: 0 0 0 2rem;
                text-align: left;
                font-size: 1.125rem;
                border-left: 2px solid white;
            }
        }
    }

    &.is-open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .menu-item {
        padding: 0.25rem;
        font-weight: 100;
        font-family: $font-family-primary;

        a {
            color: inherit;
            font-weight: 400;
        }
    }
}
