.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-small {
    font-size: 0.8em;
}

.text-normal {
    font-size: 1em;
}

.text-medium {
    font-size: 1.2em;
}

.text-large {
    font-size: 1.4em;
}

.text-xlarge {
    font-size: 1.6em;
}

.text-darken {
    color: #231F20;
}

.scheme-light {
    .text-darken {
        color: $ui-lighter;
    }
}
