body {
    font-family: $font-family-primary;
}

@include headings() {
    margin: 1.25rem 0;
    line-height: 1.2em;
    font-family: $font-family-heading;
}

p {
    margin: 1.25rem 0;
}

h1 {
    @include scaleAttr(font-size, 2.5rem, 0.125rem);
}

h2 {
    @include scaleAttr(font-size, 2rem, 0.125rem);
}

h3 {
    @include scaleAttr(font-size, 1.75rem, 0.125rem);
}

h4 {
    @include scaleAttr(font-size, 1.5rem, 0.125rem);
}

h5 {
    @include scaleAttr(font-size, 1.25rem, 0.125rem);
}

h6 {
    font-size: 1.125rem;
}

blockquote {
    margin: 0 0.125rem;
    border-left: 0.125rem solid $ui-primary;
    padding: 0 1.75rem;
    line-height: 1.8;
    letter-spacing: 1px;

    > * {
        margin: 1.75rem 0;
    }
}
