.accent-image {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);

    .container {
        display: flex;
        align-items: center;
    }

    &.align-right {
        .accent {
            order: 1;
            padding-right: 0;
        }

        .content {
            padding-left: 0;
        }
    }

    &.align-left {
        .accent {
            padding-left: 0;
        }

        .content {
            padding-right: 0;
        }
    }

    .content {
        flex: 8;
    }

    .accent {
        flex: 4;
        text-align: center;
    }

    .content,
    .accent {
        padding: 0 2rem;
    }
}
