.call-to-action {
    @include scaleAttrs([padding-top, padding-bottom], 1.5rem, 0.25rem, 0.25rem);

    [class*="title-"] {
        color: inherit;
        margin: 0;
        font-weight: 700;
    }

    .container {
        text-align: center;

        @include breakpoint(from-tablet) {
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .contact-info {
        text-align: center;

        @include breakpoint(from-phablet) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        @include breakpoint(from-desktop) {
            text-align: left;
        }
    }

    .container,
    .contact-info {
        > * {
            margin: 1rem 0;

            @include breakpoint(from-phablet) {
                margin: 0.5rem 0;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            @include breakpoint(from-tablet) {
                padding-left: 2rem;
                padding-right: 2rem;
            }

            @include breakpoint(from-desktop-mid) {
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
    }

    .contact-info {
        padding: 0;
    }

    .phone,
    .email {
        @include breakpoint(from-tablet) {
            font-size: 1.125rem;
        }

        a {
            color: inherit;
        }
    }

    .label,
    .contact {
        margin: 0;
    }

    .label {
        text-transform: uppercase;
        font-weight: 700;
    }

    .btn-container {
        @include breakpoint(from-desktop) {
            order: 1;
        }
    }
}
