.columns {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);

    &.items-center {
        .inner {
            align-items: center;
        }
    }

    &.items-end {
        .inner {
            align-items: flex-end;
        }
    }

    .inner {
        @include breakpoint(from-desktop) {
            margin: 0 -1rem;
            display: flex;
        }

        @include breakpoint(from-desktop-mid) {
            margin: 0 -2rem;
        }
    }

    .col {
        @include breakpoint(from-desktop) {
            padding: 0 1rem;

            &.w-auto {
                flex: 1;
            }

            &.w-half {
                width: 50%;
            }

            &.w-third {
                width: 40%;
            }

            &.w-twothird {
                width: 60%;
            }
        }

        @include breakpoint(from-desktop-mid) {
            padding: 0 2rem;
        }
    }
}
