.content-grid {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);
    overflow: hidden;

    .bg {
        background-size: cover;
        background-position: center;
        height: 7.25rem;
    }

    img {
        width: 100%;
    }

    .items {
        @include breakpoint(from-tablet) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -0.75rem;
        }

        &.x4 .item {
            @include breakpoint(from-tablet) {
                width: calc(50% - 1.5rem);
            }

            @include breakpoint(from-desktop) {
                width: calc(25% - 1.5rem);
            }

            @include breakpoint(from-desktop-mid) {
                width: calc(25% - 2rem);
            }
        }

        &.x3 .item {
            @include breakpoint(from-tablet) {
                width: calc(50% - 1.5rem);
            }

            @include breakpoint(from-desktop) {
                width: calc(33.3333% - 1.5rem);
            }

            @include breakpoint(from-desktop-mid) {
                width: calc(33.3333% - 2rem);
            }
        }

        &.x2 .item {
            @include breakpoint(from-tablet) {
                width: calc(50% - 1.5rem);
            }

            @include breakpoint(from-desktop-mid) {
                width: calc(50% - 2rem);
            }
        }

        @include breakpoint(from-desktop-mid) {
            margin: 0 -1rem;
        }
    }

    .item {
        background: white;
        box-shadow: 0 0 0.75rem 0 transparentize(black, 0.8);
        text-align: center;
        margin: 1.5rem 0 0 0;

        @include breakpoint(from-tablet) {
            margin: 1.5rem 0.75rem 0 0.75rem;
        }

        @include breakpoint(from-desktop-mid) {
            margin: 2rem 1rem 0 1rem;
            box-shadow: 0 0 1rem 0 transparentize(black, 0.8);
        }
    }

    .text {
        padding: 0.5rem 1.5rem;
        line-height: 1.6em;
        letter-spacing: 1px;

        @include breakpoint(from-desktop-mid) {
            padding: 1.5rem 2.5rem;
        }
    }

    .label {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.125rem;
        color: $ui-primary;
    }
}
