.hero-block {
    @include scaleAttrs([padding-top, padding-bottom], 6rem, 0.5rem);

    &.content-center {
        text-align: center;
    }

    &.content-left {
        text-align: left;
    }

    &.content-right {
        text-align: right;
    }

    [class*="title-"] {
        padding: 0 1.625em 0.625em 1.625em;
    }

    .inner {
        display: inline-block;
        width: 60%;
    }

    .btn {
        margin: 0 0.25em;
    }
}
