.map {
    position: relative;
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);

    &.bg-green {
        background: $ui-primary;

        .info {
            background: $ui-primary;
            color: white;
        }

        [class*="title-"] {
            color: white;
        }
    }

    &.bg-dark-green {
        background: $ui-secondary;

        .info {
            background: $ui-secondary;
            color: white;
        }

        [class*="title-"] {
            color: white;
        }
    }

    &.bg-light-green {
        background: $ui-lighter;

        .info {
            background: $ui-lighter;
            color: black;
        }

        [class*="title-"] {
            color: black;
        }
    }

    .acf-map {
        height: 26rem;

        @include breakpoint(from-desktop) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        p {
            font-family: $font-family-primary;
            margin: 1rem;
            font-size: 1rem;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        position: relative;
        z-index: 10;
    }

    .info {
        background: white;
        color: $ui-secondary;
        letter-spacing: 1px;

        @include breakpoint(from-desktop) {
            width: 45%;
            padding: 1rem 2rem;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 1.5rem 3rem;
            width: 40%;
        }
    }
}
