.slider {
    @include scaleAttrs([padding-top, padding-bottom], 4rem, 0.4rem);

    @include breakpoint(from-desktop-mid) {
        font-size: 1.125rem;
    }

    &.scheme-light {
        .accent .img {
            border-color: #becf6e;
        }
    }

    .container {
        align-items: center;

        @include breakpoint(from-phablet) {
            padding: 0 5rem;
        }

        @include breakpoint(from-tablet) {
            padding: 0 2rem;
            display: flex;
        }
    }

    .inline-title {
        display: block;
        margin-top: 0.25rem;

        @include breakpoint(from-desktop-mid) {
            display: inline;
            margin-top: 0;
            margin-left: 2rem;
        }
    }

    .info {
        letter-spacing: 1px;

        @include breakpoint(from-tablet) {
            padding-right: 3rem;
        }

        @include breakpoint(from-desktop) {
            padding-right: 5rem;
        }

        @include breakpoint(from-desktop-mid) {
            padding-right: 7rem;
        }
    }

    .accent {
        flex-shrink: 0;
        max-width: 50%;
        order: 1;
        padding-bottom: 2rem;
        margin: 0 auto;

        @include breakpoint(from-phablet) {
            max-width: 33.3333%;
        }

        @include breakpoint(from-tablet) {
            padding-bottom: 0;
            margin: 0;
        }

        @include breakpoint(from-desktop) {
            max-width: 50%;
        }

        .img {
            border: 0.125rem solid $ui-primary;
            padding: 0.75rem;
            border-radius: 99rem;
        }

        img {
            border-radius: 99rem;
        }
    }
}
