.steps {
    @include scaleAttrs([padding-top, padding-bottom], 3rem, 0.4rem);

    @include breakpoint(from-desktop) {
        text-align: center;
    }

    .container {
        @include breakpoint(from-desktop) {
            display: flex;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 0 2rem;
        }

        @include breakpoint(from-desktop-lrg) {
            padding: 0 3.125rem;
        }
    }

    .step {
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        position: relative;

        &:first-child:before,
        &:last-child:after {
            display: none;
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 2rem;
            transform: translateX(-50%);
            height: 0.5rem;
            border-left: 0.125rem solid transparentize($ui-primary, 0.25);

            @include breakpoint(from-desktop) {
                display: none;
            }
        }

        &:before {
            content: "";
            top: 0;
        }

        &:after {
            content: "";
            bottom: 0;
        }

        @include breakpoint(from-desktop) {
            padding: 0 1rem;
            flex: 1;
            display: block;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 0 2rem;
        }

        @include breakpoint(from-desktop-lrg) {
            padding: 0 3.125rem;
        }
    }

    .count {
        font-family: $font-family-secondary;
        font-weight: 900;
        font-size: 1.125rem;
        background: transparentize($ui-primary, 0.25);
        width: 4rem;
        height: 4rem;
        border-radius: 99rem;
        color: white;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-shrink: 0;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $ui-primary;
            width: 3rem;
            height: 3rem;
            border-radius: 99rem;
        }
    }

    .label {
        margin: 0 0 0 1rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $ui-primary;
        letter-spacing: 1px;

        @include breakpoint(from-desktop) {
            margin: 1rem 0 0 0;
        }
    }
}
