.testimonials {
    @include scaleAttrs([padding-top, padding-bottom], 6rem, 0.75rem);

    .container {
        align-items: center;

        @include breakpoint(from-tablet) {
            display: flex;
        }
    }

    .intro {
        text-align: center;

        @include breakpoint(from-tablet) {
            width: 40%;
            padding-right: 2rem;
            text-align: left;
        }
    }

    .testimonial-slider {
        @include breakpoint(from-tablet) {
            width: 60%;
        }
    }

    .testimonial {
        padding: 1rem;

        .inner {
            background: white;
            box-shadow: 0 0 1rem 0 transparentize(black, 0.8);
            text-align: center;
            padding: 1.5rem 2.5rem;
        }

        .label {
            text-transform: uppercase;
            font-weight: 700;
            margin: 1rem 0;
            font-size: 1.125rem;
        }

        .services {
            text-transform: uppercase;
            font-weight: 700;
            margin: 1rem 0;
            color: $ui-primary;
        }
    }
}
