.banner-default {
    @include scaleAttrs([padding-top, padding-bottom], 5rem, 0.4rem);
    background-size: cover;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2.875rem;
        background: linear-gradient(to bottom, transparentize(black, 0.7), transparent);
    }

    h1 {
        @include scaleAttr(font-size, 3.125rem, 0.25rem);
        font-family: $font-family-secondary;
        font-weight: 900;
        line-height: 1.1em;
    }

    .flex {
        display: flex;
        align-items: center;
        @include scaleAttr(min-height, 22rem, 2rem);
    }

    .inner {
        @include breakpoint(from-desktop) {
            width: 70%;
        }

        @include breakpoint(from-desktop-mid) {
            padding-right: 4rem;
            width: 60%;
        }

        @include breakpoint(from-desktop-lrg) {
            padding-right: 8rem;
        }
    }

    .accent {
        width: 40%;
        display: none;

        @include breakpoint(from-desktop-mid) {
            display: block;
        }
    }
}
