.banner-home {
    background-size: cover;
    position: relative;
    font-size: 1rem;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2.875rem;
        background: linear-gradient(to bottom, transparentize(black, 0.7), transparent);
    }

    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2.875rem;
        background: linear-gradient(to bottom, transparentize(black, 0.7), transparent);
    }

    .content-container {
        @include scaleAttrs([padding-top, padding-bottom], 8rem, 1rem, 3rem);
    }

    h1 {
        font-family: $font-family-secondary;
        font-size: 3.125rem;
        font-weight: 900;
        line-height: 1.1em;
        @include scaleAttr(font-size, 3.125rem, 0.25rem);
    }

    .flex {
        display: flex;
        align-items: center;
    }

    .inner {
        @include breakpoint(from-desktop) {
            width: 70%;
        }

        @include breakpoint(from-desktop-mid) {
            padding-right: 4rem;
            width: 60%;
        }

        @include breakpoint(from-desktop-lrg) {
            padding-right: 8rem;
        }
    }

    .desc {
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.6;
        text-shadow: 0 0 0.25rem black;
    }

    .accent {
        width: 40%;
        display: none;

        @include breakpoint(from-desktop-mid) {
            display: block;
        }
    }

    .icon-container {
        @include breakpoint(mobile) {
            padding: 0;
        }
    }

    .service-icons {
        background: white;
        text-align: center;
        color: $ui-primary;
        text-transform: uppercase;
        padding: 1.5rem 0;

        @include breakpoint(from-phablet) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        @include breakpoint(from-tablet) {
            padding: 0;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 0 3.125rem;
        }
    }

    .icon {
        padding: 0.5rem 0.75rem 1rem 0.75rem;
        font-weight: 500;

        @include breakpoint(from-phablet) {
            width: 50%;
        }

        @include breakpoint(from-tablet) {
            width: 33.3333%;
            padding: 2.5rem 0.75rem 2rem 0.75rem;
        }

        @include breakpoint(from-desktop) {
            flex: 1;
        }

        @include breakpoint(from-desktop-mid) {
            padding: 3.125rem 2rem 2.5rem 2rem;
        }

        @include breakpoint(from-desktop-lrg) {
            padding: 3.125rem 3.125rem 2.5rem 3.125rem;
        }

        img {
            max-width: 4rem;
            max-height: 4rem;
            width: 100%;
            height: 100%;
        }
    }

    .label {
        margin: 1.25rem 0 0 0;
    }

    .btn {
        border-radius: 99rem;
        text-transform: none;
    }
}
