// Body colour
$default-text-color: #2E3D1F;

// Site Colours
$ui-primary: #667A3D; // Green
$ui-secondary: #2E3D1F; // Dark Green
$ui-lighter: #BECF6E; // Light Green

$ui-scheme-light-text: white;
$ui-scheme-dark-text: $ui-secondary;

// Social Media
$ui-social-facebook: #3b5998;
$ui-social-twitter: #55acee;
$ui-social-instagram: #8a3ab9;
$ui-social-linkedin: #007bb5;
$ui-social-youtube: #bb0000;
