// Font Awesome
$fa-font-path: "fonts";

// Font Sizes
$font-size-base: 16px;

// Font Families
$font-family-primary: "Metropolis", sans-serif;
$font-family-secondary: "Archivo", sans-serif;
$font-family-heading: $font-family-primary;
$font-family-icons: "Font Awesome 5 Pro";
